@import "../../../../color-pallete.css";

.reset-button {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  font-size: 1.4rem;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-family: "Space Mono", monospace;
}

.reset-button:hover {
  cursor: pointer;
  background-color: var(--light-cyan);
}
