.input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}

@media (min-width: 400px) {
  .input {
    width: 50%;
    height: 100%;
    padding: 0 15px;
  }
}
