@import "../../../../color-pallete.css";

.result-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40%;
}

.result-field__title {
  color: white;
}

.result-field__subtitle {
  color: var(--dark-grayish-cyan);
  font-size: 0.8rem;
}

.result-field__amount {
  color: var(--strong-cyan);
  font-size: 2rem;
}
