@import "./color-pallete.css";

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--light-grayish-cyan);
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
